index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><title>VanNorman Design</title><meta http-equiv="X-UA-Compatible" content="IE=Edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="keywords" content=""><meta name="description" content=""><!--Template 2075 Digital Team
http://www.tooplate.com/view/2075-digital-team--><link rel="stylesheet" href="css/bootstrap.min.css"><link rel="stylesheet" href="css/font-awesome.min.css"><link rel="stylesheet" href="css/animate.min.css"><link rel="stylesheet" href="css/et-line-font.css"><link rel="stylesheet" href="css/nivo-lightbox.css"><link rel="stylesheet" href="css/nivo_themes/default/default.css"><link rel="stylesheet" href="css/style.css"><link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css"></head><body data-spy="scroll" data-target=".navbar-collapse" data-offset="50"><!-- preloader section--><div class="preloader"><div class="sk-spinner sk-spinner-circle"><div class="sk-circle1 sk-circle"></div><div class="sk-circle2 sk-circle"></div><div class="sk-circle3 sk-circle"></div><div class="sk-circle4 sk-circle"></div><div class="sk-circle5 sk-circle"></div><div class="sk-circle6 sk-circle"></div><div class="sk-circle7 sk-circle"></div><div class="sk-circle8 sk-circle"></div><div class="sk-circle9 sk-circle"></div><div class="sk-circle10 sk-circle"></div><div class="sk-circle11 sk-circle"></div><div class="sk-circle12 sk-circle"></div></div></div><!-- navigation section--><section role="navigation" class="navbar navbar-fixed-top custom-navbar"><div class="container"><div class="navbar-header"><button data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon icon-bar"></span><span class="icon icon-bar"></span><span class="icon icon-bar"></span></button></div><div class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li><a href="#home" class="smoothScroll">HOME</a></li><li><a href="#work" class="smoothScroll">WORK</a></li><li><a href="#portfolio" class="smoothScroll">PORTFOLIO</a></li><li><a href="#contact" class="smoothScroll">CONTACT</a></li></ul></div></div></section><!-- home section--><section id="home"><div class="container"><div class="row"><div class="col-md-12 col-sm-12"><h3>WEB DESIGN / WEB DEVELOPMENT / UX DESIGN</h3><h1>Trevor VanNorman</h1><hr><a href="#work" class="smoothScroll btn btn-danger">What I do</a><a href="#contact" class="smoothScroll btn btn-default">Contact Me</a></div></div></div></section><!-- work section--><section id="work"><div class="container"><div class="row"><div class="col-md-12 col-sm-12"><div class="section-title"><h1 class="heading bold">WHAT I DO</h1><hr></div></div><div data-wow-delay="1s" class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp"><i class="icon-desktop medium-icon"></i><h3>WEB DESIGN</h3><hr><p>UX/UI design that appropriately fits your business or organization.</p></div><div data-wow-delay="1s" class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp"><i class="icon-gears medium-icon"></i><h3>WEB DEVELOPMENT</h3><hr><p>Front-End development using the latest in HTML, CSS, JS.</p></div><div data-wow-delay="1s" class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp"><i class="icon-presentation medium-icon"></i><h3>SEO</h3><hr><p>Organic and paid optimizations empowered with Google Adwords, and Google Analytics.</p></div><div data-wow-delay="1s" class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp"><i class="icon-facebook medium-icon"></i><h3>SOCIAL MEDIA</h3><hr><p>Setup and website integration for Facebook, Twitter, Google+, Linkedin, and Youtube.</p></div></div></div></section><!-- portfolio section--><div id="portfolio"><div class="container"><div class="row"><div class="col-md-12 col-sm-12"><div class="section-title"><h1 class="heading bold">PORTFOLIO</h1><hr></div><!-- ISO section--><div class="iso-section"><ul class="filter-wrapper clearfix"><li></li></ul><div data-wow-delay="0.9s" class="iso-box-section wow fadeIn"><div class="iso-box-wrapper col4-iso-box"><div class="iso-box done col-lg-4 col-md-4 col-sm-6"><a href="images/portfolio-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img1.jpg" alt="portfolio img"></a></div><div class="iso-box done col-lg-4 col-md-4 col-sm-6"><a href="images/portfolio-img3.png" data-lightbox-gallery="portfolio-gallery"><img src="images/portfolio-img3.png" alt="portfolio img"></a></div></div></div></div></div></div></div></div><!-- contact section--><section id="contact"><div class="container"><div class="row"><div class="col-md-12 col-sm-12 text-center"><div class="section-title"><h1 class="heading bold">CONTACT ME</h1><hr></div></div><div class="col-md-6 col-sm-12 contact-info"><div class="col-md-6 col-sm-4"><h3><i data-wow-delay="0.6s" class="icon-envelope medium-icon wow bounceIn"></i> EMAIL</h3><p>trevor@vannorman.me</p></div><div class="col-md-6 col-sm-4"><h3><i data-wow-delay="0.6s" class="icon-phone medium-icon wow bounceIn"></i> PHONE</h3><p>+1 (607) 205-8230  </p><p></p></div></div><div class="col-md-6 col-sm-12"><form action="https://formspree.io/your@email.com" method="POST" data-wow-delay="0.6s" class="wow fadeInUp"><div class="col-md-6 col-sm-6"><input type="text" placeholder="Name" name="name" class="form-control"></div><div class="col-md-6 col-sm-6"><input type="email" placeholder="Email" name="_replyto" class="form-control"></div><div class="col-md-12 col-sm-12"><textarea placeholder="Message" rows="7" name="message" class="form-control"></textarea></div><div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8"><input type="submit" value="Send" class="form-control"></div></form></div></div></div></section><!-- footer section--><footer><div class="container"><div class="row"><div class="col-md-12 col-sm-12"><p>Copyright © Trevor VanNorman 2016</p><hr><ul class="social-icon"><li><a href="#" data-wow-delay="0.3s" class="fa fa-github wow fadeIn"></a></li><li><a href="#" data-wow-delay="0.6s" class="fa fa-linkedin wow fadeIn"></a></li></ul></div></div></div></footer><script src="js/jquery.js"></script><script src="js/bootstrap.min.js"></script><script src="js/smoothscroll.js"></script><script src="js/isotope.js"></script><script src="js/imagesloaded.min.js"></script><script src="js/nivo-lightbox.min.js"></script><script src="js/jquery.backstretch.min.js"></script><script src="js/wow.min.js"></script><script src="js/custom.js"></script></body></html>

index.jade
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title VanNorman Design
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='')
    meta(name='description', content='')
    //
      Template 2075 Digital Team
      http://www.tooplate.com/view/2075-digital-team
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/et-line-font.css')
    link(rel='stylesheet', href='css/nivo-lightbox.css')
    link(rel='stylesheet', href='css/nivo_themes/default/default.css')
    link(rel='stylesheet', href='css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500', rel='stylesheet', type='text/css')
  body(data-spy='scroll', data-target='.navbar-collapse', data-offset='50')
    // preloader section
    .preloader
      .sk-spinner.sk-spinner-circle
        .sk-circle1.sk-circle
        .sk-circle2.sk-circle
        .sk-circle3.sk-circle
        .sk-circle4.sk-circle
        .sk-circle5.sk-circle
        .sk-circle6.sk-circle
        .sk-circle7.sk-circle
        .sk-circle8.sk-circle
        .sk-circle9.sk-circle
        .sk-circle10.sk-circle
        .sk-circle11.sk-circle
        .sk-circle12.sk-circle
    // navigation section
    section.navbar.navbar-fixed-top.custom-navbar(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon.icon-bar
            span.icon.icon-bar
            span.icon.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.smoothScroll(href='#home') HOME
            li
              a.smoothScroll(href='#work') WORK
            li
              a.smoothScroll(href='#portfolio') PORTFOLIO
            li
              a.smoothScroll(href='#contact') CONTACT
    // home section
    section#home
      .container
        .row
          .col-md-12.col-sm-12
            h3 WEB DESIGN / WEB DEVELOPMENT / UX DESIGN
            h1 Trevor VanNorman
            hr
            a.smoothScroll.btn.btn-danger(href='#work') What I do
            a.smoothScroll.btn.btn-default(href='#contact') Contact Me
    // work section
    section#work
      .container
        .row
          .col-md-12.col-sm-12
            .section-title
              h1.heading.bold WHAT I DO
              hr
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-desktop.medium-icon
            h3 WEB DESIGN
            hr
            p UX/UI design that appropriately fits your business or organization.
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-gears.medium-icon
            h3 WEB DEVELOPMENT
            hr
            p Front-End development using the latest in HTML, CSS, JS.
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-presentation.medium-icon
            h3 SEO
            hr
            p
              | Organic and paid optimizations empowered with Google Adwords, and Google Analytics.
          .col-lg-4.col-md-4.col-sm-4.wow.fadeInUp(data-wow-delay='1s')
            i.icon-facebook.medium-icon
            h3 SOCIAL MEDIA
            hr
            p
              | Setup and website integration for Facebook, Twitter, Google+, Linkedin, and Youtube.
    // portfolio section
    #portfolio
      .container
        .row
          .col-md-12.col-sm-12
            .section-title
              h1.heading.bold PORTFOLIO
              hr
            // ISO section
            .iso-section
              ul.filter-wrapper.clearfix
                li
              .iso-box-section.wow.fadeIn(data-wow-delay='0.9s')
                .iso-box-wrapper.col4-iso-box
                  .iso-box.done.col-lg-4.col-md-4.col-sm-6
                    a(href='images/portfolio-img1.jpg', data-lightbox-gallery='portfolio-gallery')
                      img(src='images/portfolio-img1.jpg', alt='portfolio img')
                  .iso-box.done.col-lg-4.col-md-4.col-sm-6
                    a(href='images/portfolio-img3.png', data-lightbox-gallery='portfolio-gallery')
                      img(src='images/portfolio-img3.png', alt='portfolio img' )
    // contact section
    section#contact
      .container
        .row
          .col-md-12.col-sm-12.text-center
            .section-title
              strong 06
              h1.heading.bold CONTACT ME
              hr
          .col-md-6.col-sm-12.contact-info
            .col-md-6.col-sm-4
              h3
                i.icon-envelope.medium-icon.wow.bounceIn(data-wow-delay='0.6s')
                |  EMAIL
              p trevor@vannorman.me
            .col-md-6.col-sm-4
              h3
                i.icon-phone.medium-icon.wow.bounceIn(data-wow-delay='0.6s')
                |  PHONE
              p +1 (607) 205-8230  
              p
          .col-md-6.col-sm-12
            form.wow.fadeInUp(action='https://formspree.io/trevor@vannorman.me', method='POST', data-wow-delay='0.6s')
              .col-md-6.col-sm-6
                input.form-control(type='text', placeholder='Name', name='name')
              .col-md-6.col-sm-6
                input.form-control(type='email', placeholder='Email', name='_replyto')
              .col-md-12.col-sm-12
                textarea.form-control(placeholder='Message', rows='7', name='message')
              .col-md-offset-4.col-md-8.col-sm-offset-4.col-sm-8
                input.form-control(type='submit', value='Send')
    // footer section
    footer
      .container
        .row
          .col-md-12.col-sm-12
            p Copyright © Trevor VanNorman 2016
            hr
            ul.social-icon
              li
                a.fa.fa-github.wow.fadeIn(href='#', data-wow-delay='0.3s')
              li
                a.fa.fa-linkedin.wow.fadeIn(href='#', data-wow-delay='0.6s')
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/smoothscroll.js')
    script(src='js/isotope.js')
    script(src='js/imagesloaded.min.js')
    script(src='js/nivo-lightbox.min.js')
    script(src='js/jquery.backstretch.min.js')
    script(src='js/wow.min.js')
    script(src='js/custom.js')
